services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: stonksmate
      POSTGRES_PASSWORD: stonksmate
      POSTGRES_DB: stonksmate_development
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
